<div>
  <div style="margin-top: 25px">
    <a (click)="goBack() class=btn btn-warning">Wstecz</a>
    <h3>{{pageTitle}}</h3>
  </div>
  <div style="margin-top: 25px; margin-bottom: 50px">
    <form #profileForm="ngForm" ngSubmit="onSubmit(profile)">
      <div class="form-group">
        <label for="type">Wybierz narodowość </label>
        <select [disabled]="!isInEditMode" requiredClass="form-control" id="type" [(ngModel)]="profile.type" name="type" #type="ngModel">
          <option></option>
          <option value="0">Polska</option>
          <option value="1">Francja</option>
        </select>
      </div>
    </form>
  </div>
</div>
